{{iob_user}} ALL=(ALL) ALL
{{iob_user}} ALL=(ALL) NOPASSWD: /usr/sbin/shutdown
{{iob_user}} ALL=(ALL) NOPASSWD: /usr/sbin/halt
{{iob_user}} ALL=(ALL) NOPASSWD: /usr/sbin/poweroff
{{iob_user}} ALL=(ALL) NOPASSWD: /usr/sbin/reboot
{{iob_user}} ALL=(ALL) NOPASSWD: /usr/bin/systemctl start
{{iob_user}} ALL=(ALL) NOPASSWD: /usr/bin/systemctl stop
{{iob_user}} ALL=(ALL) NOPASSWD: /usr/bin/mount
{{iob_user}} ALL=(ALL) NOPASSWD: /usr/bin/umount
{{iob_user}} ALL=(ALL) NOPASSWD: /usr/bin/systemd-run
{{iob_user}} ALL=(ALL) NOPASSWD: /usr/bin/apt-get
{{iob_user}} ALL=(ALL) NOPASSWD: /usr/bin/apt
{{iob_user}} ALL=(ALL) NOPASSWD: /usr/bin/dpkg
{{iob_user}} ALL=(ALL) NOPASSWD: /usr/bin/make
{{iob_user}} ALL=(ALL) NOPASSWD: /usr/bin/ping
{{iob_user}} ALL=(ALL) NOPASSWD: /usr/sbin/setcap
{{iob_user}} ALL=(ALL) NOPASSWD: /usr/bin/cat
{{iob_user}} ALL=(ALL) NOPASSWD: /usr/bin/df
{{iob_user}} ALL=(ALL) NOPASSWD: /usr/sbin/ldconfig
ALL ALL=NOPASSWD: /usr/bin/systemctl start {{iob_service}}
ALL ALL=NOPASSWD: /usr/bin/systemctl stop {{iob_service}}
ALL ALL=NOPASSWD: /usr/bin/systemctl restart {{iob_service}}
ALL ALL=({{iob_user}}) NOPASSWD: /usr/bin/node {{iob_controller_dir}}/iobroker.js *
